# Class_6

# Exception

In [9]:
try:
    price_of_burger=50
    payment=int(input("Please pay 50 bucks for burger: "))
    if payment==50:
        print("Please collect your order and enjoy your meal")
    elif payment>50:
        print("Please collect your change:",payment - price_of_burger,"& Collect your order and Enjoy your meal")
    else:
        print("Please pay the exact amount")
except ValueError:
    print("Sorry no funny business")

Please pay 50 bucks for burger:  eighty

Sorry no funny business

In [18]:
try:
    a=5
    b=0
    c=a/b
except ZeroDivisionError:
    print("not divisible")

not divisible

# Class

In [17]:
class recepie:
    name=' '
    time_to_cook=0
    occasion=' '
    number_of_plates=0
order=recepie()

order.name="Maggi"
order.time_to_cook=10
order.occasion="Snacks Break"
order.number_of_plates=50
print(order.name)
print(order.time_to_cook)
print(order.occasion)
print(order.number_of_plates)

Maggi
10
Snacks Break
50

# Dictionary

In [22]:
dict={k1:k1*2 for k1 in range(1,12)}
print(dict)

{1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20, 11: 22}

In [56]:
#2:{1:2,2:4,3:6,4:8,5:10}
comp1={k1:{k2:k1*2 for k2 in range(1,4)} for k1 in range(1,5)}
comp2={k1:{k2:{k3:k1+k2*2 for k3 in range(1,5)}for k2 in range(6,10)}for k1 in range(7,11)}
print(comp1)
print(comp2)

{1: {1: 2, 2: 2, 3: 2}, 2: {1: 4, 2: 4, 3: 4}, 3: {1: 6, 2: 6, 3: 6}, 4: {1: 8, 2: 8, 3: 8}}
{7: {6: {1: 19, 2: 19, 3: 19, 4: 19}, 7: {1: 21, 2: 21, 3: 21, 4: 21}, 8: {1: 23, 2: 23, 3: 23, 4: 23}, 9: {1: 25, 2: 25, 3: 25, 4: 25}}, 8: {6: {1: 20, 2: 20, 3: 20, 4: 20}, 7: {1: 22, 2: 22, 3: 22, 4: 22}, 8: {1: 24, 2: 24, 3: 24, 4: 24}, 9: {1: 26, 2: 26, 3: 26, 4: 26}}, 9: {6: {1: 21, 2: 21, 3: 21, 4: 21}, 7: {1: 23, 2: 23, 3: 23, 4: 23}, 8: {1: 25, 2: 25, 3: 25, 4: 25}, 9: {1: 27, 2: 27, 3: 27, 4: 27}}, 10: {6: {1: 22, 2: 22, 3: 22, 4: 22}, 7: {1: 24, 2: 24, 3: 24, 4: 24}, 8: {1: 26, 2: 26, 3: 26, 4: 26}, 9: {1: 28, 2: 28, 3: 28, 4: 28}}}