# Print Statements

In [3]:
print("Good Morning")

Good Morning

In [5]:
print("Hello")

Hello

In [6]:
# I want to print my name 
print('Sai charan')

Sai charan

# Variables

In [7]:
a=10

In [8]:
a

10

In [9]:
a=10000045657464635645678979545456789797565557889786434567

In [10]:
a

10000045657464635645678979545456789797565557889786434567

In [11]:
# addition of 2 numbers
a=10
b=20
c=a+b
print(c)

30

In [12]:
print('c')

c

In [13]:
#How i want my output weas addition of a=10 and b=20 is c=30
print(a+b)

30

In [14]:
print('addition of a=',a,"and b=",b,"is c=",c)

addition of a= 10 and b= 20 is c= 30

In [15]:
print("addition of a={} and b={} is c={}".format(a,b,c))

addition of a=10 and b=20 is c=30

In [16]:
print("addition of a={0} and b={1}is c={2}".format(a,b,c))

addition of a=10 and b=20is c=30

In [17]:
#Assignment to do is i want the C=30 in the next line u solve it and share

# Varibale types

In [18]:
a=10
b='charan'
c=1.02
d=True
e=12+8j
print(a,b,c,d,e)

10 charan 1.02 True (12+8j)

In [19]:
print(type(a))

<class 'int'>

In [20]:
print(type(b))

<class 'str'>

In [21]:
print(type(c))

<class 'float'>

In [22]:
print(type(d))

<class 'bool'>

In [23]:
print(type(e))

<class 'complex'>

In [24]:
#complex no always have to be in the a+bj format

In [25]:
r=8+9j

In [27]:
r.real

8.0

In [28]:
r.imag

9.0

In [29]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

# Operators

## Arithmetic operators

In [32]:
a=5
b=2
print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
3
10
2.5

In [33]:
print(9/2)

4.5

In [36]:
print(9//2)
# Floor DIvision is going to give u the quotient

4

In [38]:
print(9%2)
# % is going to give you the Remainder

1

In [39]:
#Asked in Interview for 4.5 LPA package 
#There is a number i want to multiply it as a power where my base is 9 and my ower is 2 my result has to be 81.
print(9**2)

81

# Relational Operators

< ,>,<=,>=,!=

In [40]:
3<5

True

In [41]:
5!=4

True

In [42]:
5<4

False

In [43]:
5<=8

True

In [44]:
6>=400

False

In [46]:
5==5

True

In [48]:
3==5

False

## Logical operators

# And OR not 
and 
t t t 
t f f 
f t f
f f f

or 
t t t
t f t
f t t
f f f

In [53]:
S=True
T=False
print(S and T)

False

In [54]:
print(S or T)

True

In [55]:
print(not S)

False

In [56]:
print(S and T)

False

## Membership operators

in ,not in

In [57]:
'd' in 'deepak'

True

In [58]:
's' in 'venu'

False

In [61]:
's' not in 'charan'

True

# 'D' in 'deepak'

# Conditional Statements

# if elif else

In [63]:
# Buy a shoes my budget is 500 if shoe price is 300 can i buy it or not ?

In [65]:
my_budget=500
shoe_price=300
if my_budget>= shoe_price:
    print("You can purchase the item")
else:
    print("You can't buy the shoes")

You can purchase the item

In [67]:
a=300
b=500
if a>=b:
    print("yes")
else:
    print("no")

no

# if it rains i will go to long drive if its sunny i go to movie if its windy i play football else i will sit at home WAP to 
satisfy the above conditions
condition has to be provided by user as an input based on that output has to be printed

In [68]:
a=int(input())
if a==1:
    print("Rainy")
    print("Let's go for long drive")
elif a==2:
    print("Sunny")
    print("Let's Watch Movie")
elif a==3:
    print("Windy")
    print("Let's gather for football match")
else:
    print("Let's plan something different")

3
Windy
Let's gather for football match

# Casing in python

Camel snake case and pascal case

# totalMarks,studentGrade-- Camel Case
Total_marks,student_grade-- Snake Case
TOTAL_MARKS-- PASCAL CASE

In [70]:
# wap to find whether the Number is Even or odd

In [71]:
x=int(input())
if x%2==0:
    print("Even")
else:
    print("odd")

5
odd

In [72]:
x=int(input())
if x%2==1:
    print("odd")
else:
    print("Even")

5
odd

In [73]:
# Final Presentbble code
number=int(input("Enter the number to check even or odd"))
if number%2==0:
    print("Its an even number")
else:
    print("Its an odd number")

Enter the number to check even or odd45
Its an odd number

In [74]:
b=35
if b>35:
    print("yes its greathe than 35")
elif b<35:
    print("It is less than 35")
else:
    print("It is equal to 35")
print("I am charan")

It is equal to 35
I am charan

In [75]:
# Purchasing an online Course
course=['Data Analyst','bigdata','DSA','Java']
price=2000
mentor='charan'
if 'Data Analyst' in course and price<=20000 and mentor=='charan':
    print("Confirm my seat")

Confirm my seat

# WAP to Print o buy a shirt based on condition that it should be from KLM or Relainace or Zudio color has to be blue or black
size has to be between S to XL and price lss than 1000

# Nested if Conditions

In [77]:
x=35
if x>35:
    print("X is greater than 35")
else:
    if x<35:
        print("X is less than 35")
    else:
        print("X equals to 35")

X equals to 35

In [78]:
# WAP to check whether the number is positive or Negative or Zero by using nested if condition

In [81]:
number=int(input("Enter the number"))
if number>0:
    print("Its a positive Number")
else:
    if number==0:
        print("Its a zero")
    else:
        print("Its a Negative Number")

Enter the number0
Its a zero