In [1]:
# simple class demonstration
class abc:
    x=0
    def show(self):
        print("Hello all")
s=abc()
s.x

0

In [2]:
s.show()

Hello all

In [3]:
class student:
    def __init__(self,name,age):
        self.name=name
        self.age=age
    def display(self):
        print(f"Name:{self.name},age:{self.age}")
s1=student("charan",24)
s1.display()

Name:charan,age:24

In [4]:
class car:
    def __init__(self,brand,model,year,color):
        self.brand=brand
        self.model=model
        self.year=year
        self.color=color
    def display_info(self):
        print(f"{self.year}{self.color}{self.brand}{self.model}")

In [5]:
car1=car("Tesla",'Model S',2023,"Red")
car2=car("BYD",'Model EV',2020,'White')
car1.display_info()

2023RedTeslaModel S

In [6]:
car2.display_info()

2020WhiteBYDModel EV

In [7]:
# with out init
class car:
    def display_info(self):
        print(f"{self.year}{self.color}{self.brand}{self.model}")
car1=car()
car1.brand="Tesla"
car1.model="Model S"
car1.year=2023
car1.color="red"
car1.display_info()

2023redTeslaModel S

In [8]:
#with __init__ you can intialise all values while creating object
#with out init you have to enter manually each variable afer creating object
#init -- Automatic initalization
#without manual initalization

In [9]:
class car:
    def __init__(self,brand,model):
        self.brand=brand
        self.model=model
    def display_info(self):
        print(f"{self.brand}{self.model}")
car1=car("Tesla","Model S")
car1.display_info()

TeslaModel S

In [11]:
#with out self
class car:
    def __init__(brand,model):
        brand=brand
        model=model
    def display_info():
        print(f"{brand}{model}")
car1=car("Tesla","Model S")
car1.display_info()

TypeError: car.__init__() takes 2 positional arguments but 3 were given

In [12]:
class xyz:
    def abc(self,n):
        print("Hello",n)
s=xyz()
s.abc("Karthik")

Hello Karthik

In [13]:
class xyz:
    def abc(self,n):
        print(n)
s=xyz()
s.abc(100)
s.abc(121)

100
121

In [14]:
class xyz:
    def abc(self,n):
        n1=n+1
        print(n)
        print(n+1)
s=xyz()
s.abc(100)

100
101

In [17]:
class xyz:
    def abc(self,n):
        self.n=n+1
        print(n)
        print(n+1)
s=xyz()
s.abc(100)

100
101

In [18]:
class xyz:
    def abc(self,n):
        n=n+1
        print(n)
        print(n+1)
s=xyz()
s.abc(100)

101
102

In [22]:
class xyz:
    x=2
    __y=4
    def abc(self,n):
        self.n=n+1
        print(n)
        print(self.n)
s=xyz()
s.abc(100)
print(s.x)
print(s._xyz__y)

100
101
2
4

In [23]:
# Inheritance

In [27]:
class father:
    def s1(self):
        print("Base class")
class son(father):
    def s2(self):
        print("Derived class")
O=son()
O.s1()
O.s2()

Base class
Derived class

In [28]:
class st1:
    def num1(self):
        self.n1=7
        print("num1",self.n1)
class st2:
    def num2(self):
        self.n2=10
        print("num2",self.n2)
class st(st1,st2):
    def add(self):
        return self.n1+self.n2
s=st()
s.num1()
s.num2()
s.add()

num1 7
num2 10

17

In [33]:
# Method Over riding
class T:
    def show(self):
        print("Base class method Called")
class S(T):
    def show(self):
        super().show()
        print("Derived class method called")
class U(S):
    def show(self):
        super().show()
        print("Further Derived class  called")
V=U()
V.show()

Base class method Called
Derived class method called
Further Derived class  called

In [34]:
# Lambda Functions -- filter map reduce

In [35]:
def sqr(a):
    return a*a
x=sqr(5)
print(x)

25

In [36]:
x=sqr([1,2,3,4])
prnt(x)

TypeError: can't multiply sequence by non-int of type 'list'

In [40]:
x=map(sqr,[1,2,3,4])
print(tuple(x))

(1, 4, 9, 16)

In [41]:
# Lambda Function :
#Lambda arguments : Expression
x=lambda a:a*a
x(3)

9

In [44]:
#5x+3y(1,2)
a=lambda x=1,y=2 :5*x+3*y
print(a)

<function <lambda> at 0x000002B4CD82BD90>

In [45]:
a=lambda x,y:5*x+3*y
a(1,2)

11

In [46]:
# Numpy , pandas ,Matplotlib , seaborn

In [48]:
#7x+5y-3z=16
#3x-5y+2z=-8
#5x+3y-7z=0

import numpy as np
a=np.array([[7,5,-3],[3,-5,2],[5,3,-7]])
b=np.array([16,-8,0])
np.linalg.solve(a,b)

array([1., 3., 2.])

arr=np.

In [50]:
arr=np.array([[1,2],[3,4]])
np.linalg.inv(arr)
np.linalg.det(arr)

-2.0000000000000004